{% extends 'base.html.twig' %}
{% block header %}{% endblock %}

{% block body %}
 <div><img src="{{ asset('build/images/camille.png') }}" class="object-fit-cover w-100 rounded-5 rounded-top-0"/></div>
	<h1 class="text-center mt-3 fw-bolder">Bienvenue, Camille</h1>
    <div class="d-flex justify-content-center mx-auto camille-profile">
    </div>
    <p class="text-center mx-auto w-75"> Retrouvez toutes vos analyses sur cette page</p>
	<div class="profile-container">
		<div class="profile-card mx-4    pt-4">
			<div class="row flex-nowrap row-cols-2 mx-2">
            <div class="col question fw-bold ms-1">Type de peau:</div>
            <div class="col response fw-semibold">Séche</div>
        </div>
        <div class="row mx-2 my-4">
            <div class="col question fw-bold">Allérgie:</div>
            <div class="col response fw-semibold">Eczéma</div>
        </div>
        <div class="row mx-2 my-4"> 
            <div class="col question fw-bold">Problèmes récurrents:</div>
            <div class="col response fw-semibold ">Rougeur </br>Teint terne</div>
        </div>
  		</div>
	</div>  
{% endblock %}
