{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="w-75 mx-auto mb-5">
	<h1>Bonjour Camille</h1>
	<h6>Prenez soin de votre corps</h6>
</div>

<a type="button" href="/daily" class=" btn d-flex my-5 btnRoutine fw-bold">Daily routine</a>
<h4 class="w-75 mx-auto">Pour vous</h4>
<div class="d-flex flex-row overflow-x-scroll mt-3 mb-5">

<div class="d-flex flex-row mx-5 gap-3 slide">
	<div class="slide-image"><image src="{{ asset('build/images/biocremer.png')}}"></div>
	<div class="slide-image"><image src="{{ asset('build/images/creme2.png')}}"></div>
	<div class="slide-image"><image src="{{ asset('build/images/shampoo-removebg-preview.png')}}"></div>
	<div class="slide-image"><image src="{{ asset('build/images/loreal2.png')}}"></div>
</div>


{% endblock %}
