{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="calendar-row">
    <div class="calendar">Lund 15 Janv</div>
    <div class="calendar">Mar 16 Janv</div>
    <div class="calendar">Merc 17 Janv</div>
    <div class="calendar">Jeu 18 Janv</div>
    <div class="calendar-big">Vend 19 Janv</div>
    <div class="calendar">Sam 20 Janv</div>
    <div class="calendar">Dim 21 Janv</div>
    </section>

    <section class="daily">
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    </section>

{% endblock %}
