{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bonjour Camille</h1>
    <h6>Prenez soin de votre corps</h6>

<button type="button" href="#" class=" btn d-flex mx-auto my-4 btnRoutine" >Daily routine</button>
    
{% endblock %}
