{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bonjour Camille</h1>
    <h6>Prenez soin de votre corps</h6>

<button type="button" href="#" class=" btn d-flex mx-auto my-4 btnRoutine" >Daily routine</button>
<h6><strong>Pour vous</strong></h6>
<div class="d-flex flex-nowrap overflow-x-scroll my-5">

<divclass="d-flexflex-rowmx-4gap-2">
        <div><image src="{{ asset('build/images/biocreme.jpg')}}"></div>
        <div><image src="{{ asset('build/images/creme2.png')}}"></div>
        <div><image src="{{ asset('build/images/shampoo-removebg-preview.png')}}"></div>
        <div><image src="{{ asset('build/images/shampoo2r.png')}}"></div>
    </div>   
</div>
    
{% endblock %}
