{% extends 'base.html.twig' %}

{% block title %}Hello Camille{% endblock %}

{% block body %}
<div class="container card-date py-5 my-5 text-center"> 
<p>Prochaine commande expédiée</p>
<h4>Mecredi 17 février 2023</h4>
<div><i class="bi bi-lightning-charge">Expédier maintenant</i>
<i class="bi bi-calendar-week">Changer la date</i>
<i class="bi bi-trash3">Supprimer</i>
</div>


</div>
{% endblock %}
