@import "~bootstrap/scss/bootstrap";
$widthCard: 20rem;
$heightCard: 6.5rem;
$widthSmallCard: 4rem;
$heightSmallCard: 4rem;
$widthBigCard: 20rem;
$heightBigCard: 19rem;
$widthPriceCard: 20rem;
$heightPriceCard: 4rem;
$widthSliderCard: 15rem;
$heightSliderCard: 15rem;

$borderRadiusCard: 1.25rem;
$borderRadiusSmallCard: 0.55rem;
$boxShadowCard: 0px 0px 10.7px 1px rgba(0, 0, 0, 0.08);

@mixin card($x, $y, $borderRadiusCard, $boxShadowCard) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusCard;
    box-shadow: $boxShadowCard;
}
@mixin smallCard($x, $y, $borderRadiusSmallCard) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusSmallCard;
}
@mixin bigCard($x, $y, $borderRadiusCard) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusCard;
}
@mixin priceCard($x, $y, $borderRadiusCard) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusCard;
}
@mixin sliderCard($x, $y, $borderRadiusCard) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusCard;
}

:root {
    --background-color: #f9f9f9;
    --link-hover: #ecb390;
    --background-card: #adc7b6;
    --color: black;
    --color-bis: #cee5d0;
    --color-grey: #d9d9d9;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.card-date {
    background-color: var(--background-card);
    @include card(
        ($widthCard),
        ($heightCard),
        ($borderRadiusCard),
        ($boxShadowCard)
    );
}

.card-small {
    font-size: x-large;
    font-weight: bolder;
    background-color: var(--color-grey);
    @include smallCard(
        ($widthSmallCard),
        ($heightSmallCard),
        ($borderRadiusSmallCard)
    );
}

.card-big {
    background-color: var(--background-card);
    @include bigCard(($widthBigCard), ($heightBigCard), ($borderRadiusCard));
}

.card-price {
    background-color: var(--background-card);
    @include bigCard(
        ($widthPriceCard),
        ($heightPriceCard),
        ($borderRadiusCard)
    );
}

.card-slider {
    background-color: var(--color-grey);
    @include bigCard(
        ($widthSliderCard),
        ($heightSliderCard),
        ($borderRadiusCard)
    );
}

.camille {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
}

.camille img {
    border-radius: 50%;
}

.btnRoutine {
    align-items: center;
    background-color: var(--background-card);
    color: var(--background-color);
}
