@import "~bootstrap/scss/bootstrap";
$widthPic:20rem;
$heightPic:13rem;
$borderRadiusPic:1.25rem;
$boxShadowPic:0px 0px 10.7px 1px rgba(0, 0, 0, 0.08);

@mixin myPicture($x, $y, $borderRadiusPic, $boxShadowPic) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusPic;
    box-shadow: $boxShadowPic;
}



:root {
    --background-color: #f9f9f9;
    --link-hover: #ECB390;
    --background-card: #94B49F;
    --color: black;
    --color-bis: #CEE5D0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }


.card-date {

    background-color: var(--background-card);
    @include myPicture(
        ($widthPic),
        ($heightPic),
        ($borderRadiusPic),
        ($boxShadowPic)
    );
}