@import "~bootstrap/scss/bootstrap";
$widthCard:20rem;
$widthSmallCard:19rem;
$heightSmallCard:3rem;
$heightCard:13rem;
$borderRadiusCard:1.25rem;
$boxShadowCard:0px 0px 10.7px 1px rgba(0, 0, 0, 0.08);

@mixin card($x, $y, $borderRadiusCard, $boxShadowCard) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusCard;
    box-shadow: $boxShadowCard;
}
@mixin smallCard($x, $y, $borderRadiusSmallCard) {
    width: $x;
    height: $y;
    border-radius: $borderRadiusSmallCard;
}


:root {
    --background-color: #f9f9f9;
    --link-hover: #ECB390;
    --background-card: #94B49F;
    --color: black;
    --color-bis: #CEE5D0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }


.card-date {
    background-color: var(--background-card);
    @include card(
        ($widthCard),
        ($heightCard),
        ($borderRadiusCard),
        ($boxShadowCard)
    );
}

.card-small {
    background-color: var(--color-bis);
    @include smallCard(
        ($widthCard),
        ($heightCard),
        ($borderRadiusCard),

    );
}