{% block body %}	<div class="navbar d-flex mx-auto my-4 w-75 fixed-bottom ">
		<a href="/">
			<i class="bi bi-house " style="font-size: 1.6rem;"></i>
		</a>
		<a href="subscribed_routine">
			<i class="bi bi-bag" style="font-size: 1.6rem;"></i>
		</a>
		<a href="/favorite">
			<i class="bi bi-heart" style="font-size: 1.6rem;"></i>
		</a>
	</div>{% endblock %}
