<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a href="#"><i class="fa-regular fa-house"></i></a>
  <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
  <a href="#"><i class="fa-regular fa-heart"></i></a>
</div>