{% block body %}
	<h1 class="text-center fs-1 mt-4">Mon profil</h1>
    {% include 'base.html.twig' %}
	<div class="user-container">
		<div class="container-card-button">
			<div class="user-card">
				<p>Type de peau: Séche</p>
				<p>Allérgie: Eczéma</p>
				<p>Problèmes réccurents: Rougeur
                Teint terne</p> 
				
			</div>
		</div>
	</div>
{% endblock %}
